<header-component></header-component>
<body>
<div class="col-*-12">
    <div class="container mt-3">
        <div class="mt-4 p-5 text-white text-center rounded">
            <span class="badge" style="font-size:50pt">Cantanti</span>
        </div>
    </div>
</div><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="card-img img-fluid rounded" src="https://images.genius.com/295bfb7c535cf1fef4cf98d95804eeea.1000x1000x1.jpg" alt="Immagine">
            <div class="card-body">
                <h4 class="card-title">Papa V</h4>
                <p class="card-text">Papa V è il vero nome di Lorenzo Vinciguerra, artista classe 2000 cresciuto nell’hinterland milanese. Dopo le esperienze musicali all’interno del team K100 ENT, il 7 ottobre è uscito il suo primo mixtape dal titolo “Gesù Bambino”. Il progetto, interamente prodotto da Fri2, è stato preannunciato dai singoli in anteprima “Al Capone”, “Crack In Casa 24/7” e “Apparecchiato”, in collaborazione con il rapper Nerissima Serpe.</p>
                <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#carta1">Scopri l'artista</button><br><br>
                <div id="carta1" class="collapse">
                    Mewtwo è un Pokémon leggendario di tipo Psico introdotto in prima generazione. Non si evolve da o in nessun altro Pokémon.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="card-img img-fluid rounded" src="https://i.scdn.co/image/ab67616d0000b273a43bc8d38cdecdb7a71b34a6" alt="Immagine">
            <div class="card-body">
                <h4 class="card-title">Goeiler</h4>
                <p class="card-text">Emanuele Palumbo, in arte Geolier, vive ancora a casa sua. Al Rione Gescal, tra Secondigliano e Miano, che in questi giorni e in queste ore è in trepidante attesa per la partecipazione del rapper al Festival di Sanremo. Partecipazione che ha subito fatto discutere, esaltato, provocato qualche polemica, stupito: Geolier è un vero e proprio fenomeno, un caso unico nel panorama della musica italiana di questi anni. Il suo ultimo album, Il coraggio dei bambini, è stato quello più venduto in Italia nel 2023. Parteciperà alla gara con la canzone I p’me, tu p’te.</p>
                <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#carta3">Scopri l'artista</button><br><br>
                <div id="carta3" class="collapse">
                    Mewtwo è un Pokémon leggendario di tipo Psico introdotto in prima generazione. Non si evolve da o in nessun altro Pokémon.
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
</body>
<footer-component></footer-component>