<header-component></header-component>
<div class="col-*-12">
    <div class="container mt-3">
        <div class="mt-4 p-5 bg-info text-white text-center rounded">
            <span class="badge bg-primary" style="font-size:24pt">NEGOZIO VIRUTALE</span>
        </div>
    </div>
</div><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="card-img img-fluid rounded" src="https://images.genius.com/295bfb7c535cf1fef4cf98d95804eeea.1000x1000x1.jpg" alt="Immagine">
            <div class="card-body">
                <h4 class="card-title">Papa V</h4>
                <p class="card-text text-secondary">////////////</p>
                <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#carta1">Dettagli</button>
                <div id="carta1" class="collapse">
                    Mewtwo è un Pokémon leggendario di tipo Psico introdotto in prima generazione. Non si evolve da o in nessun altro Pokémon.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="card-img img-fluid rounded" src="https://images.genius.com/295bfb7c535cf1fef4cf98d95804eeea.1000x1000x1.jpg" alt="Immagine">
            <div class="card-body">
                <h4 class="card-title">goeiler</h4>
                <p class="card-text text-secondary">////////////</p>
                <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#carta3">Dettagli</button>
                <div id="carta3" class="collapse">
                    Mewtwo è un Pokémon leggendario di tipo Psico introdotto in prima generazione. Non si evolve da o in nessun altro Pokémon.
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<footer-component></footer-component>
